<link rel="stylesheet" href="https://www.unpkg.com/katex@0.16.9/dist/katex.min.css" crossorigin="anonymous">

<script defer src="https://www.unpkg.com/katex@0.16.9/dist/katex.min.js" crossorigin="anonymous"></script>

<script defer src="https://www.unpkg.com/katex@0.16.9/dist/contrib/auto-render.min.js" crossorigin="anonymous" onload="renderMathInElement(document.body, { globalGroup: true, delimiters: [
    {left: '$$', right: '$$', display: true},
    {left: '$', right: '$', display: false},
    {left: '\\(', right: '\\)', display: false},
    {left: '\\[', right: '\\]', display: true}
], })"></script>